<h2>New Pokemon</h2>

<form action="/pokemons" method="post" >
  <label>Name:</label>
  <input name="name">

  <label>CP:</label>
  <input cp="cp">

  <label>Type:</label>
  <input poke_type="poke_type">

  <label>Tutor:</label>
  <input tutor="tutor">

  <label>Image url:</label>
  <input img_url="img_url">

  <input type="submit" value="Create">
</form>
