<h2>New Pokemon</h2>

<form action="/pokemons" method="post" >
  <p>
  <label>Name:</label>
  <input name="name">
  </p>

  <p>
  <label>CP:</label>
  <input name="cp">
  </p>

  <p>
  <label>Type:</label>
  <input name="poke_type">
  </p>

  <p>
  <label>Tutor:</label>
  <input name="tutor">
  </p>

  <p>
  <label>Image url:</label>
  <input name="img_url">
  </p>

  <p>
  <input type="submit" value="Create">
  </p>
</form>
