<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/pokestyle.css"
    <title>Mike's Pokenatra</title>
  </head>
  <body>
    <p>
      <a href="/pokemons">All Pokemons</a>
      <a href="/pokemons/new">Add New Pokemon</a>
    </p>
    <div>
    <%= yield %>
    </div>
  </body>
</html>
